.myCard{
    background-color: #fff;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.contImgCard{
    padding: 5px;
    height: 70%;
}
.contImgCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contDatesCard{
    align-items: center;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contBtnCard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    text-align: center;
}
.contBtnCard > div{
    width: 30%;
}
.contBtnCard button,.contBtnCard a{
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #e5e7eb;
    cursor: pointer;
    text-decoration: none;
}
.contBtnCard button:hover,.contBtnCard a:hover{
    background-color: #c7c9ce;
}