.ContCenter{
    width: 80%;
    margin: 0 auto;
}
.ContCenter > div{
    padding: 16px 0px;

}

.ContHome{
    background-color: #f5f5f5;
    padding: 2rem;
}
.ContLanding{
    background: linear-gradient(to right, #ffefba, #ffffff);
    padding: 3rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 1rem;
    transition: .55s;
}
.ContLanding:hover{
    box-shadow:0 8px 16px 0 rgb(0 0 0 / 20%);
}

.ContLanding .ContInfo{
    width: 40%;
}
.ContLanding .ContInfo > div{
    padding: 10px;
}

.ContLanding .ContInfo a{
    padding: 10px;
    background-color: bisque;
    color: rgb(49, 42, 42);
    text-decoration: none;
    border-radius: 5px;
    width: 100px;
    font-size: 20px;
    display: inline-block;
}

.ContLanding .ContImg{
    margin: 0 auto;
}
.ContLanding .ContImg img{
    width: 100%;
}




.Contbrands{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(210px,1fr));
    gap: 10px;
}

.Contbrands > div{
    background-color: #ffefba;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 120px;
}
