.cont__Prod{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 2.5fr 9.5fr;
    grid-template-areas: 
    "filter items";
    gap: 10px;
    background-color: #f3f4f6;
}

.filters{
    grid-area: filter;
    background-color: antiquewhite;
}

.cardItems{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    grid-area: items;
    /* background-color: aqua; */
}